VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndwdGhwZ2xrbWxraXNqdmlva2p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNjM4ODUsImV4cCI6MjA5MDgzOTg4NX0.FCdsB-QnSfddRG9JNhc9aSizhPq0Gai8WAFzArrgqso"
VITE_SUPABASE_URL="https://wpthpglkmlkisjviokju.supabase.co"

VITE_WORKFLOW_URL=